.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px #888888;
  /* background-color: red; */
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  /* background-color: blue; */
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.title {
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-link {
  text-decoration: none;
}

.restaurant-list {
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 273px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1rem;
}

.card:hover {
  transition: all ease 0.2s;
  transform: scale(0.9);
}

.card > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.restaurant-name {
  font-size: 1.5rem;
  font-weight: bolder;
}

.restaurant-cuisines {
  font-size: 1.1rem;
  color: #585858;
}

.other-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.other-details > p {
  margin-right: 1rem;
  font-weight: 600;
}

.shimmer-card {
  width: 273px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1rem;
}

.shimmer-img {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.shimmer-name {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 20px;
}

.shimmer-cuisines {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 20px;
}

.shimmer-other-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.shimmer-other-details > p {
  margin-right: 1rem;
  font-weight: 600;
  background-color: rgb(189, 189, 189);
  width: 50px;
  height: 20px;
}

.auth-btn {
  /* background-color: yellow; */
  border: none;
}
