body {
  background-color: rgb(235, 235, 235);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px #888888;
  background-color: rgb(255, 255, 255);
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  /* background-color: blue; */
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.title {
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-link {
  text-decoration: none;
}

.restaurant-list {
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 273px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1rem;
  background-color: rgb(255, 255, 255);
}

.card:hover {
  transition: all ease 0.2s;
  transform: scale(0.9);
}

.card > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.restaurant-name {
  font-size: 1.5rem;
  font-weight: bolder;
}

.restaurant-cuisines {
  font-size: 1.1rem;
  color: #585858;
}

.other-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.other-details > p {
  margin-right: 1rem;
  font-weight: 600;
}

.shimmer-card {
  width: 273px;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px #888888;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1rem;
}

.shimmer-img {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.shimmer-name {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 20px;
}

.shimmer-cuisines {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 20px;
}

.shimmer-other-details {
  display: flex;
  align-items: center;
  width: 100%;
}

.shimmer-other-details > p {
  margin-right: 1rem;
  font-weight: 600;
  background-color: rgb(189, 189, 189);
  width: 50px;
  height: 20px;
}

.auth-btn {
  /* background-color: yellow; */
  border: none;
  cursor: pointer;
}

.btn {
  background-color: rgb(11, 112, 207);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 3px 5px 8px #888888;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(7, 96, 179);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 1px 2px 5px #888888;
}

.nav-items-ul {
  padding: 1rem;
}

.list-item {
  margin: 0.5rem;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.restaurant-menu {
  /* background-color: blue; */
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 8px #888888;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.restaurant-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  /* background-color: red; */
}

.section-1 {
  /* background-color: yellow; */
  display: flex;
  height: 15rem;
  width: 80%;
  /* padding: 2rem; */
}

.sub-section-1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0px 20px;
}

.sub-section-1 > p {
  line-height: 1;
  margin: 5;
  color: rgb(49, 49, 49);
}

.section-1 > img {
  width: 35%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.rating {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(184, 184, 184);
  padding: 2px;
  line-height: 0;
  border-radius: 10px;
  height: 60px;
  font-size: 0.8rem;
  font-weight: 600;
}

.rating > p:first-child {
  color: rgb(0, 75, 29);
  font-size: 1rem;
}

.rating > p:last-child {
  color: rgb(58, 58, 58);
}

.divider {
  width: 100%;
}

.rating > p {
  margin-right: 5px;
}

.section-3 {
  /* background-color: green; */
  line-height: 0;
}
